footer.footer.bg-purple
	.container
		.row.text-center
			.col-sm-12
				a.inline-block(href="/")
					img(src="/img/logo/logo-h-white.png" style="max-width:200px;")
				ul.footer-social-icons.mt--1
					li.facebook
						a(href="https://www.facebook.com/visaliaferalcatcoalition/" target="_blank")
							i.fa.fa-facebook
					li.instagram
						a(href="https://www.instagram.com/visaliaferalcatcoalition/" target="_blank")
							i.fa.fa-instagram
				h6.footerSubtext.color-white © 2018 VFCC • ALL RIGHTS RESERVED • DESIGNED BY #[a(href="http://www.jjfrygraphicarts.com/" target="_blank") JJ Fry]
