extends /layout
block head
	//-script.
		pageClass = '#{entry.id}'
block content
	section.imagebg.parallax.pink.height-50.hero(data-overlay)
		.background-image-holder
			img(src="#{asset(entry.headerImage)}")
		//-p= JSON.stringify(subPages)
	if entry != undefined
		include /partials/_sections
