extends layout
block content
	- var entry = subPages.Home
	//-p= JSON.stringify(contentful.artists)
	section#first-section.imagebg.parallax.black(data-overlay)
		.background-image-holder
			img(src="#{asset(entry.headerImage)}")
		.container
			.row.text-center
				.col-sm-12
					img#big-logo(src="/img/logo/logo-h-white.png")
	include /partials/_sections.jade
	//---- MAP SECTION
	//-section#map-section.unpad.height-50
		#map-container.row.unmarg(style="height:100%;")
			#map(style="height:100%;")
				script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js')
				link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css', rel='stylesheet')
				//- initial map center is based on the first project (if there is one, otherwise use a default coordinate)
				script.
					mapboxgl.accessToken = 'pk.eyJ1IjoiZGVlcGZyeSIsImEiOiJjajUwNnowYnIyZGhnMzNyNGdkMThxYzNtIn0.2as5SwBqekMQuwmuxhQsjw';
					var map = new mapboxgl.Map({
						container: 'map',
						style: 'mapbox://styles/deepfry/cjc2ajuhd13hi2rl9qygm543r',
						zoom: 10,
						center: [-119.286733, 36.327473],//default = [-119.286733, 36.327473],
						scrollZoom: false
					});
