// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = Georgia, Cambria, "Times New Roman", Times, serif
$lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
$monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
$verdana = Verdana, Geneva, sans-serif

// Default font settings
$montserrat = 'Montserrat', sans-serif
$patua = 'Patua One', sans-serif

$defaultFont = $montserrat


$headerHeight = 120px

// Colors (via http://clrs.cc - slightly modded)
$tan                 = rgb(254, 202, 122)           //#FECA7A
$tant5               = rgba(254, 202, 122,0.5)      //#FECA7A
$tant8               = rgba(254, 202, 122,0.8)      //#FECA7A
$orange              = rgb(242, 103, 34)            //#F26722
$oranget5            = rgba(242, 103, 34,0.5)       //#F26722
$oranget8            = rgba(242, 103, 34,0.8)       //#F26722
$red                 = rgb(273, 83, 56)             //#ED5338
$redt5               = rgba(273, 83, 56,0.5)        //#ED5338
$redt8               = rgba(273, 83, 56    ,0.8)    //#ED5338
$violet              = rgb(61, 2, 53)               //#3D0235
$violett5            = rgba(61, 2, 53,0.5)          //#3D0235
$violett8            = rgba(61, 2, 53,0.8)          //#3D0235
$purple              = rgb(7, 31, 52)               //#070034
$purplet5            = rgba(7, 31, 52,0.5)          //#070034
$purplet8            = rgba(7, 31, 52,0.8)          //#070034

$black               = rgb(0, 0, 0)                  //#000000
$white               = rgb(255, 255, 255)            //#ffffff
$textDefault         = $purple


$blue                = rgb(56, 110, 181)             //#386EB5
$bluet5              = rgba(56, 110, 181,0.8)        //#386EB5
$lightblue           = rgb(67, 198, 233)             //#43c6e9
$pink                = rgb(242, 209, 226)            //#f2d1e2
$pinkt5              = rgba(242, 209, 226, 0.8)      //#f2d1e2
$maroon              = rgb(84, 48, 72)               //#543048
$maroont5            = rgba(84, 48, 72,0.8)          //#543048
//$purple              = rgb(124, 114, 174)            //#7c72ae
//$purplet5            = rgba(124, 114, 174,0.8)       //#7c72ae
